@{
    ViewBag.Title = "Home Page";
}
<script src="~/Library/echarts/js/echarts.min.js"></script>
<script src="~/Library/echarts/theme/infographic.js"></script>
<script src="~/JS/chart.HomePage.js"></script>
<div class="container">
    <div id="employeeCounter" style="width: 100%;height:300px;" class="row"></div>
    <div class="row">
        <div class="col-md-5">
            <div id="employeePositionCounter" style="width: 100%;height:300px;"></div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div id="employeeDegreeCounter" style="width: 100%;height:300px;"></div>
        </div>
    </div>
    <div id="payChart" style="width: 100%;height:300px;" class="row"></div>
</div>