
@{
    ViewBag.Title = "人员档案";
}
<script src="~/JS/employee.employeeListOpt.js"></script>
<script src="~/Library/easyui/datagrid-filter.js"></script>
<script>
    var dataId = '@ViewBag.CompanyId';
</script>
<style>
    .icon-filter {
        background: url('../images/filter.png') no-repeat center center;
    }
</style>
<div class="container container-layout">
    <div class="page-header">
        <h3>基础信息.<small>&nbsp;人员信息</small></h3>

    </div>
    <div id="pnlSearch">
        <div class="row">
            <div class="col-md-4">
                <input id="cmbCompany" class="easyui-combobox" style="width:100%;height:30px;" data-options="
				url:'@Url.Action("QueryCompanyList","Company")',
				prompt:'输入单位名称查询人员列表',
				mode: 'remote',
				valueField: 'CompanyId',
				textField: 'Name',
                onSelect: function(rec){
                    opt.selectCompany(rec);
                },
				delay:2000">
            </div>
            <div class="col-md-5">
                <a class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="opt.add()" style="width:80px;"><i class="fa fa-file-o" aria-hidden="true"></i> 新建</a>
                <a class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="opt.edit()" style="width:80px;"><i class="fa fa-circle-o" aria-hidden="true"></i> 编辑</a>
                <a class="btn btn-danger btn-sm" href="javascript:void(0)" onclick="opt.delete()" style="width:80px;"><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</a>
            </div>
        </div>

    </div>
    <!-- 数据列表 -->
    <div id="dgContainer" style="margin:20px 0;">
        <table id="dg" class="easyui-datagrid" title="" style="width:100%;height:100%"
               data-options="idField:'PersonId',
			        singleSelect:true,collapsible:false,rownumbers:true,striped:true,loadFilter:pagerFilter,
			        autoRowHeight:true,
			        pagination:true,filterBtnIconCls:'icon-filter',
			        pageSize:10,pageList:[10,20,30,40,50,100]">
            <thead>
                <tr>
                    <th data-options="field:'PersonName',width:80">姓名</th>
                    <th data-options="field:'CompanyName',width:150">单位</th>
                    <th data-options="field:'CardId',width:80">身份证</th>
                    <th data-options="field:'Sex',width:50">性别</th>
                    <th data-options="field:'Birthday',width:80">出生日期</th>
                    <th data-options="field:'DegreeName',width:80">学历</th>
                    <th data-options="field:'Specialty',width:80">专业</th>
                    <th data-options="field:'Nation',width:50">民族</th>
                    <th data-options="field:'Phone',width:150">联系方式</th>
                    <th data-options="field:'Address',width:80">地址</th>
                    <th data-options="field:'StateCaption',width:80">状态</th>

                </tr>
            </thead>
        </table>
    </div>

</div>


