
@{
    ViewBag.Title = "缴存发放";
}
<!-- import opt js-->
<script src="~/JS/pay.PayEditorOpt.js"></script>
<link href="~/Library/uploadFiles/default.css" rel="stylesheet" />
<script src="~/Library/uploadFiles/jquery.uploadFiles.js"></script>
<script type="text/javascript">
    var dataId = @ViewBag.PayId;
</script>

<div class="container container-layout">
    <div class="page-header">
        <h3>发放管理.<small>&nbsp;<a href="~/Pay/PayList">发放列表</a></small>.<small>&nbsp;发放表</small></h3>
    </div>
    <div style="margin:20px 0;"></div>
    <div>
        <form class="form-horizontal" id="formPayment">

            <div class="form-group">
                <label class="col-sm-1 control-label">发放月份</label>
                <div class="col-sm-10">
                    <input id="datebox" editable="false" class="easyui-datebox" form-field-name="PayMonth" form-control-type="datebox" style="height:30px;width:150px" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">公司名称</label>
                <div class="col-sm-10">
                    <input id="cmpname" class="easyui-combobox" form-field-name="CompanyId" form-control-type="combobox" style="height:30px;width:50%" data-options="{url:'@Url.Content("~/Company/GetCompanyList?query=")',valueField: 'CompanyId',textField: 'Name',required:true,onSelect:function(){opt.autoName();}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">发放名称</label>
                <div class="col-sm-10">
                    <input type="text" id="tempname" form-field-name="PayTitle" style="height:30px;width:50%" class="form-control panelseach-text" data-options="required:true">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button id="btnCreate" class="btn btn-primary" onclick="opt.createPayment();return false;">创建发放表</button>
                    <button id="btnSave" class="btn btn-success" onclick="opt.save();return false;">保存发放数据</button>
                    <button id="btnExport" class="btn btn-success" onclick="opt.export();return false;">导出数据</button>
                    <button id="btnImport" class="btn btn-success" onclick="opt.import();return false;">导入数据</button>
                    <button id="btnSubmit" class="btn btn-warning" onclick="opt.submitPayment();return false;">提交扣款</button>
                </div>
            </div>
        </form>
    </div>


    <div id="dgContainer" style="margin:20px 0;">
        <div id="dg" style="width:100%;height:auto;">

        </div>
    </div>
</div>

<div id="winUpload"></div>
